*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}
#nav{
    position: fixed;
    width: 20%;
    height: 100vh;
    background: #ddd;
    box-shadow: 0 2px 2px 2px rgba(0,0,0,0.2);
    float: left;
}
#nav-top{
    padding: 20px;
    border-bottom: 1px solid #bbb;
}
#nav-top img{
    display: block;
    margin: auto;
}
#nav-top h2{
    font-size: 15px;
    text-align: center;
}
#nav-mid li{
    font-size: 13px;
    padding: 8px 20px;
    display: block;
    cursor: pointer;
}
#nav-mid li:hover{
    background-color: #eee;
}
#nav-bot{
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
    margin-left: 30px;

}
#nav-bot label{
    font-size: 12px;
}
#content{
    float: left;
    width: 80%;
    margin-left: 20%;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
}

#home-content .match-details{
    width: 100%;
    border: 1px solid #ddd;
    margin: 5px 0;
    padding: 5px;
}
.match-details .lbl-match-time{
    color: blue;
    margin-right: 50px;
    font-size: 13px;
}
.match-details .lbl-match-vs{
    color: green;
    font-size: 13px;
}
.lbl-match-date{
    font-weight: bold;
    font-size: 13px;
    color: #777;
    margin-right: 40px;
}
#img-home-login{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.football-league-box{
    width: 24%;
    height: 120px;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,0.4);
    float: left;
    margin-right: 1%;
    margin-top: 10px;
    text-align: center;
}
.football-league-box label{
    display: block;
    margin-top: 50px;
}
#frm-register{
    margin: 0 auto;
    width: 300px;
    margin-top: 40px;
}
#frm-register input{
    width: 100%;
    height: 30px;
    padding-left: 3px;
}
#frm-register a{
    display: block;
    margin-top: 20px;
    font-size: 13px;
}
.lbl-country-list{
    padding: 5px 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 8px;
    float: left;
    font-size: 13px;
    color: #444;
}
.lbl-country-list:hover{
    background-color: #1a8299;
    color: #fff;
}
#lfs-loading-container{
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
}
#lfs-loading-gif{
    margin-left: 49%;
    margin-top: 20%;
    width: 100px;
    height: 100px;
}
.league-contry-name{
    color: #f3dd15;
}
.error-text{
    color: red;
    font-size: 12px;
}
.success-text{
    color: blue;
    font-size: 12px;
}
.btn{
    width: 100%;
    height: 40px;
    border: none;
    color: white;
    margin-top: 10px;
}
.btn-normal{
    background-color: #a26c1d;
}
.btn-round{
    border-radius: 5px;
}
.btn-shadow{
    box-shadow: 0 1px 1px 2px rgba(0,0,0,0.4);
}
.title1{
    font-size: 20px;
    color: #555;
    padding: 10px 0;
    text-shadow: 0 2px 2px rgba(0,0,0,0.2);
}
.title2{
    font-size: 16px;
    color: #666;
}
.hidden{
    display: none !important;
}
.shown{
    display: block;
}
.sl-nav{
    background-color: #eee;
}
.msg-user{
    padding: 10px;
    background-color: #bbb;
    border-radius: 20px;
    font-size: 13px;
    max-width: 60%;
    display: block;
    margin: 5px auto;
}
.msg-own{
    padding: 10px;
    max-width: 60%;
    background-color: rgb(27, 105, 158);
    color: #fff;
    border-radius: 20px;
    font-size: 13px;
    margin: 5px auto;
}
.chat-input{
    position: fixed;
    bottom: 10px;
    width: 79%;
    height: 40px;
    margin-right: 20px;
    padding-left: 10px;
}